

.root{ 
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.parent-div{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}