html {
  background: rgb(125,255,140);
  background: -moz-linear-gradient(207deg, rgba(125,255,140,1) 32%, rgba(160,214,218,1) 61%);
  background: -webkit-linear-gradient(207deg, rgba(125,255,140,1) 32%, rgba(160,214,218,1) 61%);
  background: linear-gradient(207deg, rgba(125,255,140,1) 32%, rgba(160,214,218,1) 61%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7dff8c",endColorstr="#a0d6da",GradientType=1);
  min-height: 1000px;
  
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.parent > * { 
  padding-bottom: 5rem;
} 


