body {
  background-image: url(assets/background-img-body.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.parent-container {
  border-radius: 25px;
  background-color: #F5EFEF;
  border: 2px solid #F5EFEF;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.inside-parent {
  display: flex;
  flex-direction: row;
}

.form-create-acc {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.company-name {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.company-name .logo-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.title h1, .company-name span {
  font-weight: 700;
}

.title p, form > label {
  font-weight: 300;
  margin-bottom: 10px;
}

form > label {
  border-style: solid;
  border-color: black;
  border-radius:10px;
  border-width: 1px;;
  padding-left:4px;
  padding-right:4px;  
  display: inline-block;
  width: max-content;
  margin-bottom: 5px;
 
}

form > input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;

  transition: border-color 0.25s ease-in-out;
}

form > input:focus {
  outline: none !important;
  border-style: solid;
  border-color: #7b797b;
}



button {
  font-weight: 700;
  padding: 15px;
  border: solid;
  border-color: #C3C2C3; 
  border-radius: 10px;
  background-color: #F5EFEF;
  color: black;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out;
}

button:hover {
  background-color: #c8c0c0;
}

.sidebar-img {
  width: 350px;
  height: auto;
  margin-left: 25px;
}

.form-create-acc > span {
  font-weight: 400;
  padding-top: 0.5rem;
}

.form-create-acc > span b {
  font-weight: 700;
}
